.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.3);
}

.modal {
   &-container {
     @include add-flex(row,center,center);
   }
   &-empty {
     position: absolute;
     top: 0;
     width: 0;
     height: 0;
   }
  * {
    display: inline-block;
    width: 100%;
  }
   width: 300px;
   height: 300px;
   padding: 10px;

}
