// COLORs
$royal-blue: rgba(43,77,255,1);
$sky-blue: rgba(43,159,255,1);
$sky-blue-dark: darken($sky-blue,10);
$black: rgba(0,0,0,0.8);

// VARIABLES
$theme-color : $sky-blue;
$theme-border-color : $sky-blue-dark;
$disabled : #e3e3e3;
